*{
  margin:0;
  padding:0;
}

html{
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
}

body{
  background: hsl(0, 0%, 100%)  url(./images/bg-pattern.svg) no-repeat;
  background-size: cover;
}

img{
  width: 100%;
}

.container{
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

/* HEADER */

.header{
  text-align:center;
}

.header img{
  height: auto;
  width: auto;
  position: absolute;
}

.header p{
  display: inline-block;
  font-weight: 600;
  margin-top:10px;
}

/* MAIN  */
.main{
  display: grid;
  grid-template-areas:
  "pageviewsNum billing"
  "slider slider"
  "togglePlanDiscount togglePlanDiscount"
  "profit button";
  background-color: hsl(0, 0%, 100%);
  height: auto;
  width:500px;
  border-radius: 5px;
  margin-top: 100px;
  padding:40px;
}

.pageviews-num{
  grid-area: pageviewsNum;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  top:20px;
  color: hsl(225, 20%, 60%);
}

.billing-plan{
  grid-area: billing;
  justify-self:end;
}

.billing-plan span:nth-child(1){
  font-size: 2.8em;
  font-weight: 800;
}

.billing-plan span:nth-child(2){
  position: relative;
  top:-10px;
  color: hsl(225, 20%, 60%);
}

.slider-wrap{
  grid-area:slider;
  margin:50px 0;
}

.slider{
  -webkit-appearance:none;
  width: 100%;
  background: linear-gradient(90deg, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 50%) ;
  border-radius: 40px;
  height:10px;
  outline: none;
}

/* FOR MOZILLA BROWSER */
.slider::-moz-range-thumb{
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: all 0.2s;
}

/* FOR CHROME BROWSER */
.slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  transition: all 0.2s;
}

.slider::-moz-range-thumb:hover{
  opacity:0.7;
}

.plan-toggle{
  grid-area:togglePlanDiscount;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  border-bottom: 1px ridge grey;
  padding-bottom: 40px;
  color: hsl(225, 20%, 60%);
}

.plan-toggle span:nth-child(1){
  margin-right: 120px;
  position: relative;
  right:-100px;
}

.plan-toggle span:nth-child(3){
  margin-right: 20px;
  position: relative;
}

.discount{
  padding:3px;
  background-color: hsl(14, 92%, 95%);
  font-size: 0.8em;
  color: hsl(15, 100%, 70%);
}

.toggle{
  width:45px;
  height:20px;
  background-color:hsl(223, 50%, 87%);
  border-radius: 50px;
  margin-right: 20px;
  transition: all 0.2s;
}

.toggle:hover{
  background-color: hsl(174, 86%, 45%);
}

.ball{
  width:15px;
  height:15px;
  background-color: hsl(230, 100%, 99%);
  border-radius: 50%;
  position: relative;
  top:3px;
  right:-4px;
  transition: all 0.2s;
}

.transition{
  transform: translateX(21px);
}

.profit{
  grid-area: profit;
  margin-top: 20px;
  list-style: none;
  font-size: 0.9em;
  color: hsl(225, 20%, 60%);
}

.profit li:nth-child(2){
  margin:10px 0;
}

.profit img{
  width: auto;
  height:auto;
  margin-right: 10px;
}

.button-wrap{
  grid-area:button;
  display: flex;
  justify-content: center;
  align-items:center;
}

.button-wrap button{
  padding:12px 50px;
  background-color: hsl(227, 35%, 25%);
  border-radius: 30px;
  color:hsl(226, 100%, 87%);
  transition: all 0.2s;
}

.button-wrap button:hover{
  color:hsl(0, 0%, 100%);
}

/* RESPONSIVE */
@media (max-width:700px){
  .header{
    margin-top: 40px;
  }

  .header p{
    display: block;
  }

  .main{
    grid-template-areas:
    "pageviewsNum"
    "slider"
    "billing"
    "togglePlanDiscount"
    "profit"
    "button";
    width:90%;
  }

  .pageviews-num{
    top:0;
    justify-self:center;
    align-self: center;
    margin:0;
  }

  .billing-plan{
    justify-self:center;
    /* margin-bottom:40px; */
  }

  .slider-wrap{
    margin:40px 0;
  }

  .plan-toggle{
    padding-bottom: 40px;
    margin-top:40px;
    justify-content:center;
  }

  .toggle{
    margin-right: 0px;
    margin:0 10px;
  }

  .plan-toggle span:nth-child(1){
    margin-right: 0px;
    right:0px;
  }

  .plan-toggle span:nth-child(3){
    margin-right: 10px;
  }

  .discount-2{
    display: none;
  }

  .profit{
    justify-self:center;
    margin:20px 0;
    /* margin-bottom:40px; */
  }

  .botton-wrap{
    margin:0;
  }
}
